.table {
  color: #474747d0;
  display: block;
  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 10px;
  white-space: nowrap;
  margin: auto;
  overflow-x: auto;
  border: 1px solid rgba(214, 214, 214, 0.849);
}

.table td {
  padding: 0.8rem;
  border-top: 0.5px solid #ddd;
}


.editing{
  background-color: #e3e3e3;
  border-bottom: 2px solid #9d9d9d;
  animation: blink-caret 2s step-end infinite;
  color: #000000;
}

@keyframes blink-caret {
  50% {
    border-bottom-color: transparent;
  }
}

.table tbody tr:hover {
  background-color: #eee;
}

.expand {
  width: 100%;
  min-width: 400px;
}
/* 
.edit {
  display: flex;

} */

/* .td.action {
  padding-left: 0;
  margin-left: 0;
} */

.action svg {
  cursor: pointer;
  /* left: -50; */
}

table td.task-td {
  padding-right: 0rem;
}

table td.task {
  padding-left: 0rem;
}

label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ff0000;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

.checked {
  text-decoration: line-through;
  color: #9d9d9d;
}

.exitIconCon {
  border: none !important;
}