#root {
  max-width: 1280px;
  padding: 2rem;
  /* text-align: center; */
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}


button {
  margin: 2rem;
}

.data {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.data div {
  padding: 0.5rem;
}
